body{
	background-image: url('images/backMarvel3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

main{
	
	height: 50vh;
	width: 70%;
	margin-top: 10vh;
	margin-left: 15%;
}


#showDetail .left{
	border: 1px solid white;
	width: 200px;
	height: 300px;
}
.left img{
	height: 100%;
	width: 100%;
}

.right p{
	color: white;
	font-size: 1.6rem;
	margin: 10px;
	margin-left: 40px;	
	color: #1d5a61;
	font-weight: bolder;
}
.right .heading{
	margin-left: 40px;
	color: black !important;
	font-family: sans-serif;
	letter-spacing: .1rem;
	font-size: 3rem;
}